@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #d9e0e6, rgb(29, 133, 218));
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 600px;
}

.pokemon__image{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-55%, -5%);
    height: 18%;
}

.pokemon__data {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 53%;
    right: 33%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name{
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 15%;
}

.input__search {
    width: 69%;
    padding: 3.4%;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(12px, 5vw, 0.5rem);
    box-shadow: -1px 2px 0 #888, -2px 4px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 12%;
    left: 54%;
    width: 50%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 40%;
    padding: 5%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 0.5rem);
    font-weight: 600;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -3px 5px #000;
}

.button:active{
    box-shadow: inset -2px 2px 0 #222;
    font-size: 0.9rem;
}

#btn {
    font-size: 13px;
    color: #ffffff;
}